<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mn.project.mappers.Login">

	<select id="login" parameterType="com.mn.project.login.LoginVO"
		resultType="com.mn.project.login.LoginVO">
		select mmid, mmname, mmgrade
		from member
		where mmid=#{mmid} and
		mmpwd=#{mmpwd} 
	</select>

	<select id="idfind" parameterType="com.mn.project.login.LoginVO"
		resultType="com.mn.project.login.LoginVO">
		select mmid
		from member
		where mmname=#{mmname} and
		mmphonenum=#{mmphonenum}
	</select>

	<select id="pwfind" parameterType="com.mn.project.login.LoginVO"
		resultType="com.mn.project.login.LoginVO">
		select mmpwd
	    from member
		where mmid=#{mmid} and
		mmq=#{mmq} and mma=#{mma}
	</select>
	
	<select id="pwfindchange" parameterType="com.mn.project.login.LoginVO"
		resultType="com.mn.project.login.LoginVO">
		update member
		set mmpwd=#{mmpwd}
		where mmid=#{mmid}
	</select> 
	
	<select id="deletebefore" parameterType="com.mn.project.login.LoginVO"
	 resultType="com.mn.project.login.LoginVO">
       select mmpwd,mmid
	   from member
	   where mmid=#{mmid} and mmpwd=#{mmpwd}
	</select>
	
	<delete id="mmdelete" parameterType="com.mn.project.login.LoginVO">
	  update member 
      set mmgrade='x'
      where mmid=#{mmid} and mmpwd=#{mmpwd}
	</delete>
	
		
	<!-- 유저 실시간 예약 현황-->
	<select id="rInfo" resultType="com.mn.project.login.LoginVO">
		SELECT PNO,PDATE,UBOOKSTATUS,UBOOKMMID,UBOOKDEPOSIT FROM UINFO WHERE UBOOKMMID = #{mmid} 
	</select>
	
	<!-- 유저 파티 신청 삭제 -->
	<delete id="rDel" parameterType="com.mn.project.login.LoginVO">
	  DELETE FROM UINFO WHERE PNO = #{pno}
	</delete>
	
	
</mapper>