<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ram.boardex.mappers.BoardMapper">

	<select id="getBoardList"
		resultType="com.ram.boardex.board.BoardVO">
						
		select b.rnum,b.bno,b.cate_cd,b.title,b.text,b.tag,b.view_cnt,b.reg_id,b.reg_dt,b.edit_dt from
        (select rownum as rnum,a.bno,a.cate_cd, a.title, a.text,a.tag,a.view_cnt,a.reg_id,a.reg_dt,a.edit_dt
        from(select bno,cate_cd,title,text,tag,view_cnt,reg_id,to_char(reg_dt,'yyyy-mm-dd') as reg_dt,to_char(edit_dt,'yyyy-mm-dd') as edit_dt from tbl_board <trim prefix="WHERE" prefixOverrides="AND|OR">

			<if test="searchType=='title' and keyword != null and keyword != '' ">

				AND TITLE like '%' ||  #{keyword} || '%'

			</if>

			<if test="searchType=='content' and keyword != null and keyword != '' ">

				AND CONTENT like '%' ||  #{keyword} || '%'

			</if>

			<if test="searchType=='reg_id' and keyword != null and keyword != '' ">

				AND reg_id like '%' ||  #{keyword} || '%'

			</if>	

		</trim>
		order by bno ) a 
        
        where (#{listSize}*#{page}) >= rownum )b
        where b.rnum >= (#{startList}+1)
				
	</select>
	
	<select id="getBoardContent"  parameterType="int" resultType="com.ram.boardex.board.BoardVO" >
		select
		bno,cate_cd,title,text,tag,view_cnt,
		reg_id,reg_dt,edit_dt
		from
		tbl_board
		where
		bno = #{bno}
	</select>
		
	<insert id="insertBoard"
		parameterType="com.ram.boardex.board.BoardVO">
		insert into tbl_board
		(bno,cate_cd,title,text,tag,view_cnt,reg_id,reg_dt,edit_dt)
		VALUES
		(bno_add.nextval,#{cate_cd},#{title},#{text},#{tag},0,#{reg_id},sysdate,sysdate)
	</insert>
		
	<update id="updateBoard"
		parameterType="com.ram.boardex.board.BoardVO">
		update tbl_board set
		cate_cd = #{cate_cd},
		title =
		#{title},
		text = #{text},
		tag = #{tag},
		edit_dt = sysdate
		where bno =
		${bno}
	</update>
		
	<delete id="deleteBoard" parameterType="int">
		delete from tbl_board
		where bno = #{bno}
	</delete>
		
	<update id="updateViewCnt"
		parameterType="com.ram.boardex.board.BoardVO">
		update tbl_board set
		view_cnt = view_cnt + 1
		where bno = #{bno}
	</update>
	
	<select id = "getBoardListCnt" resultType = "int">
		select count(*) as listCnt
		from tbl_board
		
		<trim prefix="WHERE" prefixOverrides="AND|OR">

<if test="keyword != null and keyword != '' ">

			<if test="searchType=='title'">

				AND TITLE like '%' ||  #{keyword} || '%'

			</if>

			<if test="searchType=='content'">

				AND CONTENT like '%' ||  #{keyword} || '%'

			</if>

			<if test="searchType=='reg_id'">

				AND reg_id like '%' ||  #{keyword} || '%'

			</if>

      </if>

	</trim>
	
	</select>
</mapper>